@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500;600&family=Noto+Sans+Bassa+Vah:wght@700&display=swap");

:root {
  --color-main: #ccc;
  --color-secondary: #fff;
  --color-hover: #89a;

  font-size: 20px;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--color-main);
  transition-duration: all 1s;
  display: flex;
  align-items: center;
  justify-content: center;
}

#quote-box {
  background-color: white;
  padding: 1rem 2rem;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  max-width: 500px;
  border-radius: 5px;
  color: var(--color-main);
  transition-duration: all 1s;
}

#text {
  font-family: "Noto Sans Bassa Vah", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  min-width: 300px;
  padding: 0.5rem 0;
  text-align: center;
  transition: all 1s;
}

.fa-quote-left {
  margin-right: 0.2rem;
}

#author {
  font-family: "Cabin", sans-serif;
  text-align: center;
  font-weight: 600;
  padding: 0 0 1.5rem 0;
  margin-top: 0rem;
  font-size: 1.5rem;
  transition: all 1s;
}

#buttons {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0;
  /*background-color: red;*/
}

a,
button {
  transition-duration: 0.4s;
  color: var(--color-secondary);
  background-color: var(--color-main);
  border: none;
  padding: 0.8rem 1.1rem;
  font-family: "Noto Sans Bassa Vah", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  text-decoration: none;
}

a:hover,
button:hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

@media only screen and (max-width: 450px) {
  :root {
    font-size: 16px;
  }
}
